:root {
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* colors */
  --primary-text-color-for-dark-theme: #9da4bd;
  --transparency-text-color-for-dark-theme: #9da4bd99;
  --secondary-text-color-for-dark-theme: #ffffff;
  --primary-text-color-for-light-theme: #555555;
  --secondary-text-color-for-light-theme: #303030;
  --action-color: #ff6c00;
  --primary-bgc: #ffffff;
  --light-bgc: #f7f7f7;

  --section-top-bottom-padding: 130px;
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-bgc);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.link:not(.link[href^="mailto"]) {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  max-width: 1200px;
  /* width: 1200px; */
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ----- COMPONENTS ----- */
.btn {
  padding: 11px 19px;
  min-width: 160px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: 1px solid var(--action-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.btn:hover,
.btn:focus {
  background-color: var(--action-color);
}

.socials-link-list,
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-for-dark-theme);
}

.section-description {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.section-description::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  /* flex-shrink: 0; */
  width: 60px;
  height: 1px;
}

.dark-theme-descr.section-description::before {
  background-color: var(--transparency-text-color-for-dark-theme);
}

.light-theme-descr.section-description::before {
  background-color: var(--secondary-text-color-for-light-theme);
}

.section-text,
.address-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667em;
  letter-spacing: 0.02em;
}

.section-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167em;
  letter-spacing: 0.05em;
}

.dark-theme-descr {
  color: var(--transparency-text-color-for-dark-theme);
}

.dark-theme-text,
.dark-theme-text .link {
  color: var(--primary-text-color-for-dark-theme);
}

.light-theme-text {
  color: var(--primary-text-color-for-light-theme);
}

.dark-theme-btn,
.dark-theme-title {
  color: var(--secondary-text-color-for-dark-theme);
}

.light-theme-btn,
.socials-link-list .link,
.light-theme-descr,
.light-theme-title {
  color: var(--secondary-text-color-for-light-theme);
}

.socials-link-list .link {
  transition: color 250ms linear;
}
/* ----- END COMPONENTS ----- */

/* ----- HEADER ----- */
.header .link {
  display: block;
}

.logo:hover {
  animation-name: pulse;
  /* transition-duration: 1000ms; */
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  margin-left: 70px;
}

.site-nav-list,
.site-nav + .link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.35;
  letter-spacing: 0.09em;
}

.site-nav-list .link {
  padding: 20px 0;
}

.site-nav-list .link,
.site-nav + .link {
  color: var(--secondary-text-color-for-dark-theme);
  transition: color 250ms linear;
}

.header .link:hover,
.header .link:focus {
  color: var(--action-color);
}

.site-nav-list > .item:not(:last-child),
.site-nav + .link {
  margin-right: 40px;
}

.site-nav + .link {
  margin-left: auto;
}
/* ----- END HEADER ----- */

/* ----- HERO ----- */
.hero > .container {
  display: flex;
  outline: 1px solid red;
}

.hero-left-side {
  width: 100px;
  position: relative;
  outline: 1px solid green;
}

.hero-left-side > .socials-link-list {
  position: absolute;
  transform-origin: left bottom;
  transform: rotate(-90deg);
  left: 70px;
  bottom: 40px;
}

.hero-right-side {
  padding: 272px 490px 206px 100px;
  max-width: 1070px;
  background-color: #111319;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181em;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-for-dark-theme);
}

.hero-title {
  margin-bottom: 20px;
}

/* ----- END HERO ----- */

/* ----- ABOUT ----- */
.about {
  padding: var(--section-top-bottom-padding) 0;
}

.about > .container {
  display: flex;
}

.about .list-images {
  display: flex;
}

.list-images > .item:first-child {
  margin-right: 30px;
}

.list-images > .item:last-child {
  margin-right: 64px;
}

.section-description,
.about .section-title,
.about .section-text {
  margin-bottom: 20px;
}

.section-text + .light-theme-text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857em;
  letter-spacing: 0.02em;
}

.right-side-about {
  padding-right: 55px;
}
/* ----- END ABOUT ----- */

/* ----- PRICES ----- */
.prices {
  padding: var(--section-top-bottom-padding) 0;
  background-color: #111319;
  background-image: url(../images/prices/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.prices .section-title {
  margin-bottom: 44px;
}

.prices-box {
  display: flex;
}

.prices-part {
  padding: 30px 40px;
  width: 50%;
  margin-bottom: 50px;
}

.left.prices-part {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.right.prices-part {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-part > .item {
  display: flex;
  justify-content: space-between;
}

.prices-part > .item:not(:last-child) {
  margin-bottom: 20px;
}

.service::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 50px;
  background-color: red;
}

.service {
  /* margin-right: auto; */
  display: inline-block;
}

.cost {
  margin-left: auto;
  display: inline-block;
}

.prices .btn {
  display: block;
  margin: 0 auto;
}

/* ----- END PRICES ----- */

/* ----- ADVANTAGES ----- */
.progress-value {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.357em;
  letter-spacing: 0.05em;
}

.progress-feature {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364em;
}

.progress-list {
  color: var(--secondary-text-color-for-light-theme);
}

.progress-list > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 170px;
  height: 133px;
  background-color: var(--light-bgc);
}

.advantages-part > .section-title {
  margin-bottom: 20px;
}
/* ----- END ADVANTAGES ----- */

/* ----- MASTERS ----- */
.masters {
  padding: var(--section-top-bottom-padding) 0;
  background-color: var(--light-bgc);
}

.masters .section-title {
  margin-bottom: 44px;
}

.masters-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389em;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-for-light-theme);
}

.masters-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357em;
  letter-spacing: 0.02em;
  color: var(--action-color);
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: -30px;
  margin-left: -30px;
}

.masters-card {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% / 3) - 30px);
}

.masters-card-descr {
  padding: 30px 82px 0;
}

.masters-name {
  margin-bottom: 8px;
}

.masters-position {
  margin-bottom: 30px;
}

.masters-social-list {
  display: flex;
}

.masters-social-list .link {
  display: inline-flex;
}

.link-icon {
  transition: fill 250ms linear;
}

.masters-social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bgc);
}

.masters-social-list > .item:not(:last-child) {
  margin-right: 10px;
}

.masters-social-list .link:hover .link-icon,
.masters-social-list .link:focus .link-icon {
  fill: var(--action-color);
}
/* ----- END MASTERS ----- */

/* ----- GALERY ----- */
.galery {
  padding: var(--section-top-bottom-padding) 0;
}

.galery .section-description {
  margin-bottom: 44px;
}

.galery-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.galery-grid > .item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% / 4) - 30px);
}
/* ----- END GALERY ----- */

/* ----- CONTACTS INFORMATION ----- */
.contacts > .container {
  outline: 1px solid red;
}

.contacts > .container {
  display: flex;
}

.contacts {
  background-color: #191c26;
  background-image: url(../images/contacts/bg-img.png);
  background-position: right;
  background-repeat: no-repeat;
}

.form-contacts {
  padding: var(--section-top-bottom-padding) 0 193px;
  margin-right: 357px;
}

.data-contacts {
  padding: var(--section-top-bottom-padding) 0;
  /* background-image: url(../images/contacts/bg-img.png); */
}

.data-contacts > .section-title {
  margin-bottom: 40px;
}

.data-item:not(:last-child),
.time-work-title {
  margin-bottom: 20px;
}

.data-item > .link {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 16px;
}

.time-work-title::before {
  margin-right: 26px;
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.time-work-title {
  display: flex;
  align-items: center;
}

.address-box {
  margin-bottom: 70px;
}

.time-work-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color-for-dark-theme);
}

/* ----- END CONTACTS INFORMATION ----- */

/* ----- FOOTER ----- */
.footer > .container {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials-link-list {
  display: flex;
}

.socials-link-list > .item {
  display: flex;
  align-items: center;
}

.socials-link-list > .item:first-child {
  margin-right: 40px;
}

.socials-link-list .link {
  padding: 28px 0;
}

.socials-link-list .link:hover,
.socials-link-list .link:focus {
  color: var(--action-color);
}

.socials-link-list > .item:first-child::before {
  content: "";
  display: inline-block;

  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: var(--secondary-text-color-for-light-theme);
}
/* ----- END FOOTER ----- */
